.framing {
    background-color: #e5e5f7;
    opacity: 1;
    height: fit-content;
    width: 300px;
    border-radius: 0px 0px 30px 30px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 1) 0px 30px 90px;
}

.pfp {
    object-fit: cover;
    width: 100%;
    opacity: 1 !important;
    display: block;
}