.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.page {
    width: 794px;
    height: 42cm;
    box-shadow: rgba(0, 0, 0, 1) 0px 19px 380px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 5%;
    position: relative;
    z-index: 2;
    height: fit-content;
    padding-inline: 30px;
    margin-bottom: 1vh;
}

.wave {
    position: absolute;
    width: 100%;
    opacity: 0.3;
    z-index: 2;
    left: 0;
}

.body {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

@media print {
    .MuiTypography-h1 {
        color: black !important;
    }
    .MuiTypography-h2 {
        color: black !important;
    }
    .MuiSvgIcon-root {
        display: none !important;
    }
}