.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    width: 794px;
    height: 100vh;
    box-shadow: rgba(0, 0, 0, 1) 0px 19px 380px;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 5%;
    top: 0;
    position: relative;
    z-index: 2;
    padding-inline: 1vw;
    max-height: 30%;
    height: 100%;
}

.wave {
    position: absolute;
    width: 100%;
    opacity: 0.3;
    z-index: 2;
    left: 0;
}

.body {
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media print {
    .body * {
        color: black;
    }
    .MuiTypography-h1 {
        color: black !important;
    }
    .MuiTypography-h2 {
        color: black !important;
    }
}